---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problems from '../components/Problems.astro';
import ConversionStructure from '../components/ConversionStructure.astro';
import Benefits from '../components/Benefits.astro';
import Comparison from '../components/Comparison.astro';
import DeliveryProcess from '../components/DeliveryProcess.astro';
import IncludedStructure from '../components/IncludedStructure.astro';
import FAQ from '../components/FAQ.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout>
  <Navbar />
  <main id="conteudo-principal">
    <Hero />
    <Problems />
    <ConversionStructure />
    <Benefits />
    <Comparison />
    <DeliveryProcess />
    <IncludedStructure />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</MainLayout>
